.rounded-corners(@border-radius) {
    -webkit-border-radius: @border-radius;
    -moz-border-radius: @border-radius;
    border-radius: @border-radius;
}

input[type="text"]{
    .rounded-corners(10px);
}
